@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .bg-1 {
        @apply bg-depth-1 dark:bg-depth-1-dark;
    }

    .bg-2 {
        @apply bg-depth-2 dark:bg-depth-2-dark;
    }

    .bg-2-hover {
        @apply bg-depth-2-hover dark:bg-depth-2-dark-hover;
    }

    .bg-3 {
        @apply bg-depth-3 dark:bg-depth-3-dark;
    }

    .editor-block {
        @apply px-3 py-1 rounded-xl text-center;
    }

    .editor-text {
        @apply font-bold;
    }
}
.temp{
    color: rgb(145, 145, 145);
}